<?php
	// Edit these for each server
	$ServerName        = "OwnCloud";
	$ServerRSSLink     = "http://192.168.1.114/rss/";
	$ServerDescription = "";
	
	// List all the RSS Feeds you would like for this server
	//Module_AptUpdate($StatusFeed, $ServerName);
	//Module_AptCheck($StatusFeed, $ServerName);
	//Module_CheckDiskSpace($StatusFeed, $ServerName, "/", 90);
	//Module_RebootCheck($StatusFeed, $ServerName);	
	//Module_FreshClam($StatusFeed, $ServerName);
	//Module_ClamScan($StatusFeed, $ServerName, "/var/www/", "test")
?>
